body{
    background-color:rgb(201, 235, 201) ;
    font-family: Arial, Helvetica, sans-serif;
    
}
figcaption {
    font-size: 15px;
    font-style: italic;
    
}
#left,#right,#eatberries, #noberries  {
    display: inline;
}

.pretty-button {
    background-color:darkred;
    border-radius: 10px;
    color:aliceblue;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 150px;
    display: inline;
}
h1 {
    text-align: center;
    border: 3px solid darkred;
    padding: 1%;
    color:darkred;
}
.center {
    display:block; 
    margin:auto;
    width:90%;
    
  }
  
  p, h2, .text-center{
    text-align: center;
}
.joiner {
    width:150px;
  padding:10px;
}
.pretty-label {
    font-size: 20px;
    
}
#joinerForm * {
    display:block;  
    margin-left:auto;
    margin-right: auto;
    width:90%;
    max-width:350px;
}
#joinerForm label {
    text-align: center;
}
#joinerForm input {
    border: solid 2px darkred;
}
.joiner {
    font: size 15px;;
}

}
form, {
    display:inline;
}
img {
    height: 250px;
    max-height: 250px;
    max-width: 250px; 
    border-radius:6px;
    border: solid 2px darkred;
}
.large {
    max-height: 500px;
    max-width:500px ;
}
#right, #noberries {
    float:right;
}


.flex-container {
    display: flex;
    justify-content: center;
  }
  .pretty-button:hover {
    color: rgb(201, 235, 201);


   

